<div class="phone-child-page" id="homePage">
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div><div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
    <div style="font-size: 20px;">凑数小王子</div>
</div>