<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="../../lib/mdui/js/mdui.js"></script>
		<script src="../../lib/jquery/2.0.0/jquery.min.js"></script>
		<script src="../../lib/vue/2.5.16/vue.min.js"></script>
		<script src="../../lib/axios/0.17.1/axios.min.js"></script>
		<link href="../../lib/mdui/css/mdui.css" rel="stylesheet" />
		<link href="../../resource/css/admin/admin.css" rel="stylesheet" />
		<title>机手管理</title>
	</head>
	<body class="mdui-theme-primary-blue-grey mdui-theme-accent-pink">
		<div class="mdui-container-fluid mdui-center" id="queryTable">
			<div class="admin-select-area mdui-row">
				<div class="mdui-typo">
					<h3>筛选条件</h3>
				</div>
				<div class="mdui-divider"></div>
				<form id="select-form" class="admin-select-form">
					<input v-model="requestModel.example.name" class="mdui-textfield-input mdui-col-xs-3" type="text" placeholder="姓名" />
					<input v-model="requestModel.example.tel" class="mdui-textfield-input mdui-col-xs-3" type="text" placeholder="电话" />
					<input v-model="requestModel.example.paperId" class="mdui-textfield-input mdui-col-xs-3" type="text" placeholder="驾驶证编号" />
					<select v-model="requestModel.example.status" class="mdui-select mdui-col-xs-3">
						<option value="">状态</option>
						<option value="空闲">空闲</option>
						<option value="工作">工作</option>
						<option value="休假">休假</option>
						<option value="离职">离职</option>
					</select>
					<select v-model="requestModel.example.type" class="mdui-select mdui-col-xs-3">
						<option value="">类型</option>
						<option value="普通">普通</option>
						<option value="临时">临时</option>
					</select>
				</form>
				<button v-on:click="query()" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-col-xs-3">查询</button>
			</div>
			<div class="admin-select-area mdui-row">
				<div class="mdui-divider"></div>
			</div>

			<div class="admin-table-area mdui-row">
				<table class="mdui-table mdui-table-hoverable">
					<thead>
						<tr>
							<td>编号</td>
							<td>姓名</td>
							<td>电话</td>
							<td>驾驶证号</td>
							<td>类型</td>
							<td>状态</td>
							<td>注册时间</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="tr in trs" @click="showInfo(tr.id)">
							<td>{{tr.id}}</td>
							<td>{{tr.name}}</td>
							<td>{{tr.tel}}</td>
							<td>{{tr.paperId}}</td>
							<td>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-light-green" v-if="tr.type=='普通'">{{tr.type}}</div>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-blue-800" v-else-if="tr.type=='临时'">{{tr.type}}</div>
							</td>
							<td>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-light-green" v-if="tr.status=='空闲'">{{tr.status}}</div>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-pink" v-else-if="tr.status=='工作'">{{tr.status}}</div>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-yellow-800" v-else-if="tr.status=='休假'">{{tr.status}}</div>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-grey" v-else-if="tr.status=='离职'">{{tr.status}}</div>
							</td>
							<td>{{tr.createTime|date}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="admin-table-control mdui-btn-group">
				<button type="button" class="mdui-btn" @click="jump('first')"><i class="mdui-icon material-icons">first_page</i></button>
				<button type="button" class="mdui-btn" @click="jump('pre')"><i class="mdui-icon material-icons">navigate_before</i></button>

				<button v-for="i in pagination.navigatepageNums" v-bind:id="'page'+i" type="button" class="mdui-btn" @click="jumpByNumber(i-1)">{{i}}</button>

				<button type="button" class="mdui-btn" @click="jump('next')"><i class="mdui-icon material-icons">navigate_next</i></button>
				<button type="button" class="mdui-btn" @click="jump('last')"><i class="mdui-icon material-icons">last_page</i></button>
			</div>
		</div>

		<div id="editWindow" class="mdui-dialog">
			<div class="mdui-container" id="detailDialog">
				<div class="mdui-row">
					<div class="mdui-typo">
						<h3>{{title}}</h3>
					</div>
					<div class="mdui-divider"></div>
					<input v-model="entity.name" class="mdui-textfield-input mdui-col-xs-3" type="text" placeholder="姓名" />
					<input v-model="entity.tel" class="mdui-textfield-input mdui-col-xs-3" type="text" placeholder="电话" />
				</div>
			</div>
		</div>
		<script src="../../resource/js/admin/driverList.js"></script>
	</body>
</html>
