<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!--
<head th:include="include/admin/Header::html('广州铠信')">
</head>
-->
	<head>
		<script src="../../resource/mdui/js/mdui.js"></script>
		<script src="../../resource/js/jquery/2.0.0/jquery.min.js"></script>
		<script src="../../resource/js/vue/2.5.16/vue.min.js"></script>
		<script src="../../resource/js/axios/0.17.1/axios.min.js"></script>
		<script src="../../resource/layui/layui.js"></script>
		<link href="../../resource/mdui/css/mdui.css" rel="stylesheet" />
		<link href="../../resource/css/admin/admin.css" rel="stylesheet" />
		<title>广州铠信</title>
	</head>
	<body class="admin_frame_body mdui-appbar-with-toolbar mdui-theme-primary-pink mdui-theme-accent-pink mdui-loaded mdui-drawer-body-left mdui-locked">
		<!--toolbar-->
		<header class="mdui-appbar mdui-appbar-fixed mdui-shadow-0">
			<div class="mdui-toolbar mdui-color-theme">
				<a href="javascript:;" id="drawButton" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons mdui-color-theme">menu</i></a>
				<span class="mdui-typo-title mdui-color-theme">广州铠信</span>
			</div>
		</header>

		<!--抽屉-->
		<div class="mdui-drawer mdui-color-theme" id="left-drawer">
			<ul class="mdui-list" mdui-collapse="{accordion: true}" id="left-drawer-list">
				<li class="mdui-collapse-item mdui-color-theme" v-for="item in drawerItems">
					<div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
						<i class="mdui-list-item-icon mdui-icon material-icons">{{item.icon}}</i>
						<div class="mdui-list-item-content">{{item.name}}</div>
						<i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
					</div>
					<ul class="mdui-collapse-item-body mdui-list mdui-list-dense" style="">
						<li class="mdui-list-item mdui-ripple" v-for="child in item.sysDrawers">
							<i class="mdui-list-item-icon mdui-icon material-icons">{{child.icon}}</i>
							<div class="mdui-list-item-content">{{child.name}}</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--tab-->
		<div class="mdui-tab mdui-color-theme" mdui-tab>
			<a href="#tab1" class="mdui-ripple mdui-ripple-white">test</a>
			<a href="#tab2" class="mdui-ripple mdui-ripple-white">test2</a>
		</div>
		<div id="tab1">
			testInfo
		</div>
		<div id="tab2">
			testInfo2
		</div>
		<script src="../../resource/js/admin/adminFrame.js"></script>

	</body>
</html>
