<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="lib/mdui/js/mdui.js"></script>
    <script src="lib/jquery/2.0.0/jquery.min.js"></script>
    <script src="lib/vue/2.5.16/vue.min.js"></script>
    <script src="lib/axios/0.17.1/axios.min.js"></script>

    <link href="lib/mdui/css/mdui.css" rel="stylesheet" />
    <link href="css/admin/admin.css" rel="stylesheet" />
    <title>广州铠信挖掘机租赁管理系统</title>
</head>
<body class="admin_frame_body mdui-theme-primary-indigo mdui-theme-accent-pink mdui-loaded mdui-drawer-body-left mdui-locked">
    
</body>
</html>