<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/Header"></head>
<body>
    <script>
        $(function () {
            var driverVue={
                uri:'drivers',
                beans:[]
            };
            var vue=new Vue({
                el: '#workingArea',
                data: driverVue,
                //when the vue is loaded
                mounted:function () {
                    this.list();
                },
                methods:{
                    list:function () {
                        var url=this.uri;
                        axios.get(url).then(function (response) {
                            vue.beans=response.data;
                        });
                    }
                }
            });
        });
    </script>
    <div id="workingArea">
        测试
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>电话</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="bean in beans">
                    <td>{{bean.id}}</td>
                    <td>{{bean.name}}</td>
                    <td>{{bean.tel}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>