<div class="admin-child-page mdui-container mdui-center" id="compactInfoAera">
	<div class="mdui-row">
		<div class="mdui-typo">
			<h3>
				{{title}}
				<div class="mdui-text-color-white mdui-chip-title mdui-color-light-green" v-if="entity.status=='已审核'">{{entity.status}}</div>
				<div class="mdui-text-color-white mdui-chip-title mdui-color-pink" v-else-if="entity.status=='已作废'">{{entity.status}}</div>
				<div class="mdui-text-color-white mdui-chip-title mdui-color-grey" v-else-if="entity.status=='未审核'">{{entity.status}}</div>
				<button class="mdui-float-right mdui-btn mdui-ripple mdui-color-theme-accent" @click="switchMode(1)" v-bind:style="{display:viewPanelModel}">编辑</button>
				<button class="mdui-float-right mdui-btn mdui-ripple mdui-color-theme-accent" @click="switchMode(0)" v-bind:style="{display:editPanelModel}">放弃</button>
				<button class="mdui-float-right mdui-btn mdui-ripple mdui-color-theme-accent" @click="switchMode(2)" v-bind:style="{display:editPanelModel}">保存</button>
			</h3>
		</div>
		<div class="mdui-divider"></div>
		<div class="mdui-row">
			<div class="mdui-col-xs-12">
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">合同编号</label>
					<input v-bind:disabled="inputDisabled" v-model="entity.number"
					 class="mdui-textfield-input" type="text" placeholder="合同编号" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">客户名称</label>
					<input v-bind:disabled="inputDisabled" v-model="entity.customer.name" @click="openCustomerChooserDialog(entity)"
					 class="mdui-textfield-input" type="text" readonly placeholder="客户名称" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">甲方联系人</label>
					<select v-bind:disabled="inputDisabled" v-model="entity.contact" class="mdui-select" style="width:100%">
						<option v-for="contact in entity.customer.contacts" v-bind:value="contact">{{contact.name}}--{{contact.role}}</option>
					</select>
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">合同种类</label>
					<select v-bind:disabled="inputDisabled" v-model="entity.type" class="mdui-select" style="width:100%">
						<option value="月租合同">月租合同</option>
						<option value="临租合同">临租合同</option>
						<option value="其他合同">其他合同</option>
					</select>
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">挖斗数量</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.bucket" class="mdui-textfield-input"
					placeholder="挖斗数量" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">每月限制使用时间（合同内）</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.limitHour" class="mdui-textfield-input"
					placeholder="每月限制使用时间（合同内）" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">实际使用时间</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.totalHour" class="mdui-textfield-input"
					placeholder="实际使用时间" readonly />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">总计超出时间</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.extraHour" class="mdui-textfield-input"
					placeholder="总计超出时间" readonly />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">保证金</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.moneyPromise" class="mdui-textfield-input"
					placeholder="保证金" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">每月租金</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.moneyRent" class="mdui-textfield-input"
					placeholder="每月租金" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">总金额</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.moneyTotal" class="mdui-textfield-input"
					placeholder="总金额" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">违约金</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.moneyDelay" class="mdui-textfield-input"
					placeholder="违约金" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">实收金额</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.moneyFact" class="mdui-textfield-input"
					placeholder="实收金额" readonly />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">优惠金额</label>
					<input type="number" v-bind:disabled="inputDisabled" v-model="entity.moneyFree" class="mdui-textfield-input"
					placeholder="优惠金额" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">租用地点</label>
					<input type="text" v-bind:disabled="inputDisabled" v-model="entity.dest" class="mdui-textfield-input"
					placeholder="租用地点" />
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">入场时间</label>
					<input v-bind:disabled="inputDisabled" class="mdui-textfield-input" type="text" placeholder="入场时间" id="compactEnterTime" readonly>
				</div>
				<div class="mdui-textfield mdui-col-xs-4">
					<label class="mdui-textfield-label">开工时间</label>
					<input v-bind:disabled="inputDisabled" class="mdui-textfield-input" type="text" placeholder="开工时间" id="compactStartTime" readonly>
				</div>
			</div>
		</div>
		<div class="mdui-typo">
			<h3>
				相关资源
				<button class="mdui-float-right mdui-btn mdui-ripple mdui-color-theme-accent" @click="openFileManager()"
				 v-bind:style="{display:editPanelModel}">管理</button>
			</h3>
		</div>
		<div class="mdui-divider"></div>
		<div class="mdui-row-xs-3 mdui-row-sm-3 mdui-row-md-3 mdui-row-lg-3 mdui-row-xl-3 mdui-grid-list">
			<div v-if="entity.resource!=null">
				<div class="mdui-col admin-layout-box" v-for="res in entity.resource.resources">
					<div class="mdui-card">
						<div class="mdui-card-header">
							<img class="mdui-card-header-avatar" v-bind:src="BASE_URL+chooseFileType(res.type)" />
							<div class="mdui-card-header-title">
								<a target="view_blank" v-bind:href="BASE_URL+'/'+res.url" v-bind:download="res.name">{{res.name}}</a>
							</div>
							<div class="mdui-card-header-subtitle">
								{{res.type}} {{res.size|renderSize}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function() {
		new Vue({
			el: '#compactInfoAera',
			data: {
				title: "",
				entity: {
					status: "未审核",
					customer: {
						contacts:[]
					},
					contact: {},
				},
				editPanelModel: "none",
				viewPanelModel: "inline",
				inputDisabled: true,
				requestModel: {
					start: 0,
					example: {
						id: 0,
					}
				},
			},
			mounted: function() {
				compactInfoVue = this;
			},
			methods: {
				init: function(tabMsg) {
					var self = this;
					self.entity = tabMsg.initData.entity;
					initDateChooser(self.entity.id,self.entity.startTime,self.entity.endTime);
					self.title = '合同_' + self.entity.id;
				},
				initAdd: function(tabMsg) {
					var self = this;
					initDateChooser("new");
					self.title = "新建合同";
					self.editPanelModel = "inline";
					self.viewPanelModel = "none";
					self.inputDisabled = false;
				},
				openFileManager: function() {
					var self = this;
					if (self.entity.resource == null) {
						var newResource = {
							name: self.entity.nameplate,
							type: "trunk",
						}
						axios.post(RESOURCE_UPDATE, newResource).then(function(resp) {
							self.entity.resource = resp.data.t;
							self.requestModel.example = self.entity;
							axios.post(PAGE_COMPACT_UPDATE, self.requestModel).then(function(response) {
								self.entity = response.data.content[0];
								openFileManageDialog(self.entity, "合同信息");
							});
						});

					} else {
						openFileManageDialog(self.entity, "合同信息");
					}
				},
				switchMode: function(mode) {
					var self = this;
					if (mode == 1) {
						self.editPanelModel = "inline";
						self.viewPanelModel = "none";
						self.inputDisabled = false;
					} else if (mode == 2) {
						self.editPanelModel = "none";
						self.viewPanelModel = "inline";
						self.inputDisabled = true;

						self.requestModel.example = self.entity;
						axios.post(PAGE_COMPACT_UPDATE, self.requestModel).then(function(response) {
							self.entity = response.data.content[0];
							mdui.snackbar({
								message: response.data.responseMessage,
								timeout: 2000,
								position: "right-bottom",
							});
						});
					} else {
						mdui.confirm("所有的更改无效！", "提示", function() {
							self.editPanelModel = "none";
							self.viewPanelModel = "inline";
							self.inputDisabled = true;

							self.requestModel.example = {};
							self.requestModel.example.id = self.entity.id;
							self.requestModel.start = 0;
							axios.post(PAGE_COMPACT_QUERY, self.requestModel).then(function(response) {
								self.entity = response.data.content[0];
							});
						});
					}
					mdui.mutation();
				},
				chooseDate: function(type, value) {
					var self = this;
					if (type == 1) {
						self.entity.enterTime = value;
					} else {
						self.entity.startTime = value;
					}
				},
                chooseFileType:function(type) {
                    return chooseFileIcon(type);
                }
			},
			filters: {
				date: function(value) {
					if (value != null) {
						return value.substr(0, 10);
					} else {
						return "";
					}
				},
				renderSize: function(value) {
					if (null == value || value == '') {
						return "0 Bytes";
					}
					var unitArr = new Array("Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB");
					var index = 0;
					var srcsize = parseFloat(value);
					index = Math.floor(Math.log(srcsize) / Math.log(1024));
					var size = srcsize / Math.pow(1024, index);
					size = size.toFixed(2); //保留的小数位数
					return size + unitArr[index];
				}
			},
		})
	});

	function initDateChooser(eId,sTime,eTime) {
		$('#compactEnterTime').attr('id', 'compactEnterTime' + eId);
		$('#compactStartTime').attr('id', 'compactStartTime' + eId);
		layui.use('laydate', function() {
			var laydate = layui.laydate;
			laydate.render({
				elem: '#compactEnterTime' + eId,
				type: 'datetime',
				value: new Date(sTime),
				done: function(date) {
					vueChooseDate(1, Date.parse(date));
				}
			});
			laydate.render({
				elem: '#compactStartTime' + eId,
				type: 'datetime',
				value: new Date(eTime),
				done: function(date) {
					vueChooseDate(2, Date.parse(date));
				}
			});
		});
	}
	function vueChooseDate(type, value) {
		compactInfoVue.chooseDate(type, value);
	}
	
	function initCompactInfo(tabMsg) {
		compactInfoVue.init(tabMsg);
	}

	function initCompactAdd(tabMsg) {
		compactInfoVue.initAdd(tabMsg);
	}
</script>
