<div class="admin-child-page mdui-container-fluid mdui-center" id="logWorkQueryTable">
	<div class="admin-select-area mdui-row">
		<div class="mdui-typo">
			<h3>筛选条件</h3>
		</div>
		<div class="mdui-divider"></div>
		<form id="select-form" class="admin-select-form">
			<div class="mdui-textfield admin-layout-box mdui-col-xs-4">
				<label class="mdui-textfield-label">合同编号</label>
				<input v-model="requestModel.example.compact.number" class="mdui-textfield-input" type="text" placeholder="合同编号" />
			</div>
			<div class="mdui-textfield admin-layout-box mdui-col-xs-4">
				<label class="mdui-textfield-label">机手姓名</label>
				<input v-model="requestModel.example.driver.name" class="mdui-textfield-input" type="text" placeholder="机手姓名" />
			</div>
			<div class="mdui-textfield admin-layout-box mdui-col-xs-4">
				<label class="mdui-textfield-label">机器铭牌</label>
				<input v-model="requestModel.example.machine.nameplate" class="mdui-textfield-input" type="text" placeholder="机器铭牌" />
			</div>
			<div class="mdui-textfield admin-layout-box mdui-col-xs-4">
				<label class="mdui-textfield-label">日志状态</label>
				<select v-model="requestModel.example.logMode" class="mdui-select" style="width: 100%">
					<option value="">所有日志状态</option>
					<option value="未审核">未审核</option>
					<option value="已审核">已审核</option>
					<option value="已作废">已作废</option>
				</select>
			</div>
			<div class="mdui-textfield admin-layout-box mdui-col-xs-4">
				<label class="mdui-textfield-label">工单类型</label>
				<select v-model="requestModel.example.type" class="mdui-select" style="width: 100%">
					<option value="">所有工单类型</option>
					<option value="合约工单">合约工单</option>
					<option value="临时工单">临时工单</option>
				</select>
			</div>
			<div class="mdui-textfield admin-layout-box mdui-col-xs-4">
				<label class="mdui-textfield-label">开始时间</label>
				<input class="mdui-textfield-input" type="text" placeholder="开始时间" id="logWorkListSTime" readonly>
			</div>
			<div class="mdui-textfield admin-layout-box mdui-col-xs-4">
				<label class="mdui-textfield-label">结束时间</label>
				<input class="mdui-textfield-input" type="text" placeholder="结束时间" id="logWorkListETime" readonly>
			</div>
		</form>
		<div class="mdui-textfield admin-layout-box mdui-col-xs-4">
			<label class="mdui-textfield-label">&nbsp;</label>
			<input v-on:click="query()" class="mdui-btn mdui-color-theme-accent mdui-ripple" style="width: 100%" value="查询"/>
		</div>
	</div>
	<div class="admin-select-area mdui-row">
		<div class="mdui-divider"></div>
	</div>

	<div class="admin-table-area mdui-row">
		<div class="mdui-table-fluid">
			<table class="mdui-table">
				<thead>
					<tr>
						<td>编号</td>
						<td>合同编号</td>
						<td>机手姓名</td>
						<td>机器铭牌</td>
						<td>工单金额</td>
						<td>工单类型</td>
						<td>日志状态</td>
						<td>创建时间</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="tr in trs">
						<td>{{tr.id}}</td>
						<td>{{tr.compact.number}}</td>
						<td class="mdui-typo"><a @click="showChildInfo(tr.driver,'driver')">{{tr.driver.name}}</a></td>
						<td class="mdui-typo"><a @click="showChildInfo(tr.machine,'machine')">{{tr.machine.nameplate}}</a></td>
						<td>{{tr.money}}</td>
						<td>
							<div class="mdui-text-color-white mdui-chip-title mdui-color-light-green" v-if="tr.type=='合约工单'">{{tr.type}}</div>
							<div class="mdui-text-color-white mdui-chip-title mdui-color-pink" v-else-if="tr.type=='临时工单'">{{tr.type}}</div>
						</td>
						<td>
							<div class="mdui-text-color-white mdui-chip-title mdui-color-light-green" v-if="tr.logMode=='已审核'">{{tr.logMode}}</div>
							<div class="mdui-text-color-white mdui-chip-title mdui-color-pink" v-else-if="tr.logMode=='已作废'">{{tr.logMode}}</div>
							<div class="mdui-text-color-white mdui-chip-title mdui-color-grey" v-else-if="tr.logMode=='未审核'">{{tr.logMode}}</div>
						</td>
						<td>{{tr.createTime|date}}</td>
						<td><button class="mdui-btn mdui-color-theme-accent mdui-ripple" @click="showInfo(tr)">详情</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="admin-table-control mdui-row">
		<div class="mdui-col-xs-5" style="background: white;">
			<button type="button" class="mdui-btn mdui-color-theme-accent" @click="addEntity()">新增</button>
			<button type="button" class="mdui-btn mdui-color-theme-accent" @click="exportData()">导出</button>
			<button type="button" class="mdui-btn mdui-color-theme-accent">共计{{pagination.totalElements}}项</button>
		</div>
		<div class="mdui-btn-group mdui-col-xs-5">
			<button type="button" class="mdui-btn" @click="jump('first')"><i class="mdui-icon material-icons">first_page</i></button>
			<button type="button" class="mdui-btn" @click="jump('pre')"><i class="mdui-icon material-icons">navigate_before</i></button>
			<button v-for="i in pagination.navigatepageNums" v-bind:class="pageSelected(i)" type="button" class="mdui-btn"
			 @click="jumpByNumber(i-1)">{{i}}</button>
			<button type="button" class="mdui-btn" @click="jump('next')"><i class="mdui-icon material-icons">navigate_next</i></button>
			<button type="button" class="mdui-btn" @click="jump('last')"><i class="mdui-icon material-icons">last_page</i></button>
		</div>
	</div>
</div>

<script src="js/admin/page/logWorkList.js"></script>
