<div class="admin-child-page mdui-container-fluid mdui-center" id="machineTypeQueryList">
	<div class="admin-select-area mdui-row">
		<div class="mdui-typo">
			<h3>品牌</h3>
		</div>
		<div class="mdui-divider"></div>
		<div class="admin-list-area mdui-row-xs-5">
			<div class="admin-card-list-cell mdui-col" v-for="parentCard in parentCards" @click="chooseBrand(parentCard)">
				<div class="mdui-card">
					<div class="mdui-card-header">
						<img class="mdui-card-header-avatar" src="../../../webapp/img/machineLogo.png" />
						<div class="mdui-card-header-title">
							{{parentCard.name}}
						</div>
						<div class="mdui-card-header-subtitle">
							{{parentCard.detail}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="admin-select-area mdui-row">
		<div class="mdui-typo">
			<h3>型号</h3>
		</div>
		<div class="mdui-divider"></div>
	</div>
	<div class="admin-list-area mdui-row-xs-4">
		<div class="admin-card-list-cell mdui-col" v-bind:class="cardSelected(childCard.machineBrand.id)" v-for="childCard in childCards">
			<div class="mdui-card">
				<div class="mdui-card-header">
					<img class="mdui-card-header-avatar" src="../../../webapp/img/machineLogo.png" />
					<div class="mdui-card-header-title">
						{{childCard.model}}
					</div>
					<div class="mdui-card-header-subtitle">
						{{childCard.name}}
					</div>
				</div>
				<div class="mdui-card-media">
					<img src="../../../webapp/img/machineLogo.png" />
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../../webapp/js/admin/page/machineTypeList.js"></script>
