<div class="mdui-container-fluid mdui-center" id="machineQueryTable">
	<div class="admin-select-area mdui-row">
		<div class="mdui-typo">
			<h3>筛选条件</h3>
		</div>
		<div class="mdui-divider"></div>
		<form id="select-form" class="admin-select-form">
			<div class="admin-layout-box mdui-col-xs-4">
				<input v-model="requestModel.example.machineType.model" class="mdui-textfield-input" type="text" placeholder="型号" />
			</div>
			<div class="admin-layout-box mdui-col-xs-4">
				<input v-model="requestModel.example.nameplate" class="mdui-textfield-input" type="text" placeholder="铭牌" />
			</div>
			<div class="admin-layout-box mdui-col-xs-4">
				<input v-model="requestModel.example.code" class="mdui-textfield-input" type="text" placeholder="自编号" />
			</div>
		</form>
		<div class="admin-layout-box mdui-col-xs-4">
			<button v-on:click="query()" class="mdui-btn mdui-color-theme-accent mdui-ripple" style="width: 100%">查询</button>
		</div>
	</div>
	<div class="admin-select-area mdui-row">
		<div class="mdui-divider"></div>
	</div>

	<div class="admin-table-area mdui-row">
		<div class="mdui-table-fluid">
			<table class="mdui-table mdui-table-hoverable">
				<thead>
					<tr>
						<td>ID</td>
						<td>机器型号</td>
						<td>铭牌</td>
						<td>机器自编号</td>
						<td>机主</td>
						<td>购买方式</td>
						<td>购买价格</td>
						<td>月供</td>
						<td>工作时间</td>
						<td>创建时间</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="tr in trs" @click="showInfo(tr)">
						<td>{{tr.id}}</td>
						<td>{{tr.machineType.model}}</td>
						<td>{{tr.nameplate}}</td>
						<td>{{tr.code}}</td>
						<td>{{tr.owner}}</td>
						<td>{{tr.payway}}</td>
						<td>{{tr.price}}</td>
						<td>{{tr.mPay}}</td>
						<td>{{tr.worktime}}</td>
						<td>{{tr.createTime|date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="admin-table-control mdui-row">
		<div class="mdui-col-xs-5" style="background: white;">
			<button type="button" class="mdui-btn mdui-color-theme-accent" @click="addEntity()">新增</button>
			<button type="button" class="mdui-btn mdui-color-theme-accent" @click="exportData()">导出</button>
			<button type="button" class="mdui-btn mdui-color-theme-accent">共计{{pagination.totalElements}}项</button>
		</div>
		<div class="mdui-btn-group mdui-col-xs-5">
			<button type="button" class="mdui-btn" @click="jump('first')"><i class="mdui-icon material-icons">first_page</i></button>
			<button type="button" class="mdui-btn" @click="jump('pre')"><i class="mdui-icon material-icons">navigate_before</i></button>
			<button v-for="i in pagination.navigatepageNums" v-bind:class="pageSelected(i)" type="button" class="mdui-btn"
			 @click="jumpByNumber(i-1)">{{i}}</button>
			<button type="button" class="mdui-btn" @click="jump('next')"><i class="mdui-icon material-icons">navigate_next</i></button>
			<button type="button" class="mdui-btn" @click="jump('last')"><i class="mdui-icon material-icons">last_page</i></button>
		</div>
	</div>
</div>

<script src="js/admin/page/machineList.js"></script>
