<div class="admin-file-dialog mdui-dialog" id="compactChooserDialog">
	<div class="admin-file-dialog-container  mdui-container" id="compactChooserVue">
		<div class="mdui-typo">
			<h3>
				合同列表
			</h3>
		</div>
		<div class="admin-layout-box mdui-col-xs-6">
			<input v-model="requestModel.example.number" class="mdui-textfield-input" type="text" placeholder="合同号" />
		</div>
		<div class="admin-layout-box mdui-col-xs-6">
			<input v-model="requestModel.example.customer.name" class="mdui-textfield-input" type="text" placeholder="客户名称" />
		</div>
		<div class="mdui-divider"></div>
		<div class="mdui-row">
			<div class="mdui-table-fluid admin-dialog-table-container">
				<table class="admin-table-nobr mdui-table mdui-table-hoverable">
					<thead>
						<tr>
							<td>编号</td>
							<td>合同号</td>
							<td>客户名称</td>
							<td>创建时间</td>
							<td>合同类型</td>
							<td>合同状态</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="tr in trs" @click="chooseOne(tr)">
							<td>{{tr.id}}</td>
							<td>{{tr.number}}</td>
							<td>{{tr.customer.name}}</td>
							<td>{{tr.createTime|date}}</td>
							<td>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-light-green" v-if="tr.type=='月租合同'">{{tr.type}}</div>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-pink" v-else-if="tr.type=='临租合同'">{{tr.type}}</div>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-grey" v-else-if="tr.type=='其他合同'">{{tr.type}}</div>
							</td>
							<td>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-light-green" v-if="tr.status=='已审核'">{{tr.status}}</div>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-pink" v-else-if="tr.status=='已作废'">{{tr.status}}</div>
								<div class="mdui-text-color-white mdui-chip-title mdui-color-grey" v-else-if="tr.status=='未审核'">{{tr.status}}</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	var compactChooserVue;
	var compactChooserDialog;

	$(function() {
		compactChooserDialog = new mdui.Dialog('#compactChooserDialog');
		new Vue({
			el: '#compactChooserVue',
			data: {
				trs: [],
				pagination: {},
				requestModel: {
					start: 0,
					pageSize: 10000,
					example: {
					    customer:{},
						name: "",
						tel: "",
					}
				},
				target:{}
			},
			mounted: function() {
				compactChooserVue = this;
			},
			methods: {
				list: function(start) {
					var self = this;
					self.requestModel.start = start;
					var ajaxRequestModel = DEEP_COPY(self.requestModel);
					ajaxRequestModel.example = checkEmpty(ajaxRequestModel.example);
					axios.post(PAGE_COMPACT_QUERY, ajaxRequestModel).then(function(response) {
						self.pagination = response.data;
						self.trs = response.data.content;
						mdui.mutation();
					});
				},
				chooseOne:function(tr){
					this.target.compact=tr;
					
					compactChooserDialog.close();
				},
				setChooseTarget:function(tar){
					this.list(0);
					this.target=tar;
				}
			},
			watch: {
				"requestModel.example.number": function(val) {
					this.list(0);
				},
				"requestModel.example.customer.name": function(val) {
					this.list(0);
				},
			},
			filters: {
				status: function(value) {
					if (value == 0) {
						return '空闲';
					} else if (value == 1) {
						return '工作';
					} else if (value == 2) {
						return '休假';
					} else {
						return '离职';
					}
				},
				type: function(value) {
					if (value == 0) {
						return "正式";
					} else {
						return "临时";
					}
				},
				date: function(value) {
					return value.substr(0, 10);
				}
			},
		});
	});

	function openCompactChooserDialog(target) {
		compactChooserVue.setChooseTarget(target);
		compactChooserDialog.open();
		mdui.mutation();
	}

	function checkEmpty(jsonObject) {
		var result = {};
		for (var key in jsonObject) {
			if (jsonObject[key] == "") {
				continue;
			}
			result[key] = jsonObject[key];
		}
		return result;
	}
</script>
